{{#if items}}
  <div class="aisle {{name}}">
    <div class="aisle-header">
      {{name}}
    </div>
    {{#each items as |item|}}
      <a style="cursor:pointer" class="item {{if item.checkedOff 'checked-off'}}" {{action 'itemClick' item}}>
        {{#unless noCheck}}
          <div class="item-box {{if item.checkedOff 'icon-checkbox-checked' 'icon-checkbox-unchecked'}}"></div>
        {{/unless}}
        <div class="item-text">
          {{item.name}} {{#if item.recipe}}({{item.recipe}}){{/if}}
        </div>
      </a>
    {{/each}}
  </div>
{{/if}}
