<a class='back-button' style="cursor:pointer" {{action 'back'}}>
  <div class="icon-arrow-left2"></div>
</a>
<div class="shopping-list">
  <div class="header">
    My Grocery List
  </div>
  {{#if model.recipes}}
  <div class="menu">
    <div class="menu-header">
      Menu
    </div>
    {{#each list.menu as |item i|}}
      {{#if i}}
        <div class="menu-item-container">
          <div class="menu-item-inner">
            <div class="menu-item">
              {{i}}: {{item.title}}
            </div>
            <div class="menu-item-right">
              <a style="cursor:pointer" class="item-remove icon-cross" {{action 'removeRecipeFromList' item}}></a>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
  {{/if}}
  <div>
    {{menu-aisle name="Produce" items=list.produce checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Bulk" items=list.bulk checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Specialty" items=list.specialty checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Spreads" items=list.spreads checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Bread" items=list.bread checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Snacks" items=list.snacks checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Meat" items=list.meat checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Dairy" items=list.dairy checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Cheese" items=list.cheese checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Freezer" items=list.freezer checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Baking" items=list.baking checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Pasta" items=list.pasta checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Beans" items=list.beans checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Soup" items=list.soup checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Cleaning" items=list.cleaning checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Babies" items=list.babies checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Personal" items=list.personal checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Medicine" items=list.medicine checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
    {{menu-aisle name="Other" items=list.staples checkListItemClick='checkListItemClick' removeFromList='removeFromList'}}
  </div>
  {{#if emptyList}}
    <div class="empty-message">This list is empty :(</div>
    <div class="empty-message">Use the plus button below to add items.</div>
  {{else}}
    <div class="complete-button" {{action 'confirmListComplete'}}>
      Finished Shopping
    </div>
  {{/if}}
</div>
