<div class="group-page">
  <div class="overlay"></div>
  <a class='back-button' style="cursor:pointer" {{action 'back'}}>
    <div class="icon-arrow-left2"></div>
  </a>
  <div class="recipes">
    <div class="group-title">
      {{model.name}}
    </div>
    {{#if currentList}}
      <div class='recipe add-to-list current'>
        <div class="image"><div class="icon-checkmark"></div></div>
        <div class="title">Added to the current Grocery List</div>
        {{!-- <div class="title" {{action 'removeGroupFromList'}}>Remove</div> --}}
      </div>
    {{else}}
      <a style="cursor:pointer" class='recipe add-to-list' {{action 'addGroupToList'}}>
        <div class="image"><div class="icon-plus"></div></div>
        <div class="title">Add {{model.name}} to the current Grocery List</div>
      </a>
    {{/if}}
    {{#each model.recipes as |recipe|}}
      {{#link-to 'recipe' recipe.id class='recipe'}}
        <div class="image" style="background-image: url({{recipe.thumb}})"></div>
        <div class="title"><div class="title-text">{{recipe.title}}</div></div>
        {{add-recipe-button recipe=recipe addRecipeToList='addRecipeToList' removeRecipeFromList='removeRecipeFromList'}}
      {{/link-to}}
    {{/each}}

  </div>
</div>
