<div class="home-page">
  {{!-- <div class='header'>
    <div class="title">
      recipes
    </div>
  </div> --}}
  <div class="overlay"></div>
  <a class="drawer-icon" style="cursor:pointer" {{action 'toggleMenu'}}>
    <div class="icon-menu"></div>
  </a>

  <div class="recipes-list">
    {{list-filter listClass='.recipe-list-link'}}
    {{#each recipes as |recipe|}}
      {{#link-to 'recipe' recipe.id class='recipe-list-link'}}
        <div class='recipe-link-item'>
          {{recipe.shortTitle}}
        </div>
      {{/link-to}}
    {{/each}}
  </div>

  <div class="groups">

    {{#link-to 'current-list' class="list current"}}
      Current Grocery List
    {{/link-to}}
    {{#link-to 'last-list' class="list last"}}
      Last Grocery List
    {{/link-to}}
    {{#each groups as |group|}}
      {{#link-to 'group' group.id class='group'}}
        <div class="images">
          {{#each group.recipes as |recipe|}}
            <div class="image" style="background-image: url({{recipe.thumb}})"></div>
          {{/each}}
        </div>
        <div class="name">
          {{group.name}}
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>
