<a class='back-button' style="cursor:pointer" {{action 'back'}}>
  <div class="icon-arrow-left2"></div>
</a>
<div class="shopping-list last-list">
  <div class="header">
    Last Grocery List
  </div>
  {{#if model.recipes}}
  <div class="menu">
    {{#each list.menu as |item i|}}
      {{#if i}}
        <div class='arrangable-menu-item {{if item.isMade 'made'}}'>
          <div class="image" style="background-image: url({{item.thumb}})"></div>
            <div class='calendar' data-item={{item.id}}>
            {{#if item.hasDate}}
              <div class="input-replacement">
                <div class="date">{{moment-format item.date 'D'}}</div>
                <div class="day">{{moment-format item.date 'ddd '}}</div>
              </div>
            {{else}}
              <div class='input-replacement icon-calendar'></div>
            {{/if}}

            {{calendar-picker readonly="true" value=item.date format='MM/DD/YYYY' firstDay=0 selectedDate='setDate'}}
          </div>
          {{#if item.isMade}}
            <div class="item-box icon-checkbox-checked" {{action 'markAsUnmade' item}}></div>
          {{else}}
            <div class="item-box icon-checkbox-unchecked" {{action 'markAsMade' item}}></div>
          {{/if}}
          <div class="menu-item-name">
            {{#link-to 'recipe' item.id}}
              {{item.title}}
            {{/link-to}}
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
  {{/if}}
  <div>
    {{menu-aisle name="Produce" items=list.produce noCheck=true}}
    {{menu-aisle name="Bulk" items=list.bulk noCheck=true}}
    {{menu-aisle name="Specialty" items=list.specialty noCheck=true}}
    {{menu-aisle name="Spreads" items=list.spreads noCheck=true}}
    {{menu-aisle name="Bread" items=list.bread noCheck=true}}
    {{menu-aisle name="Seafood" items=list.seafood noCheck=true}}
    {{menu-aisle name="Snacks" items=list.snacks noCheck=true}}
    {{menu-aisle name="Meat" items=list.meat noCheck=true}}
    {{menu-aisle name="Dairy" items=list.dairy noCheck=true}}
    {{menu-aisle name="Cheese" items=list.cheese noCheck=true}}
    {{menu-aisle name="Freezer" items=list.freezer noCheck=true}}
    {{menu-aisle name="Baking" items=list.baking noCheck=true}}
    {{menu-aisle name="Cereal" items=list.cereal noCheck=true}}
    {{menu-aisle name="Pasta" items=list.pasta noCheck=true}}
    {{menu-aisle name="Beans" items=list.beans noCheck=true}}
    {{menu-aisle name="Soup" items=list.soup noCheck=true}}
    {{menu-aisle name="Cleaning" items=list.cleaning noCheck=true}}
    {{menu-aisle name="Babies" items=list.babies noCheck=true}}
    {{menu-aisle name="Personal" items=list.personal noCheck=true}}
    {{menu-aisle name="Medicine" items=list.medicine noCheck=true}}
    {{menu-aisle name="Other" items=list.staples noCheck=true}}
  </div>
</div>
