<div class="recipe-page">
  <a class='back-button' style="cursor:pointer" {{action 'back'}}>
    <div class="icon-arrow-left2"></div>
  </a>
  <div class="recipe-header" style="background-image: url({{model.background}})">
    <div class="header-overlay"></div>
    <div class='title'>
      {{model.title}}
    </div>
    <div class="recipe-stats">
      {{#if model.prepTime}}
        Prep Time <span class='statNum'>{{model.prepTime}}</span>
      {{/if}}
      {{#if model.cookTime}}
        Cook Time <span class='statNum'>{{model.cookTime}}</span>
      {{/if}}
      {{#if model.serves}}
        Serves <span class='statNum'>{{model.serves}}</span>
      {{/if}}
    </div>
  </div>

  <div class="ingredients">
    <div class="section-header">
      ingredients
    </div>
    {{#each model.ingredients as |i|}}
      <div class="ingredient">
        <div class="amount">
          {{i.amount}}
        </div>
        <div class="name">
          {{i.name}}
        </div>
        {{#if i.section}}
          <div class="section">
            {{i.section}}:
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>

  <div class="instructions">
    <div class="section-header">
      instructions
    </div>
    {{#each model.instructions as |i|}}
    <div class="instruction">
      {{i}}
    </div>
    {{/each}}
  </div>
</div>
